html, body {
	margin: 0;
	padding: 0;
}

.nav {
	margin: 0;
	height: 96px;
	width: 100vw;
	background-color: #006633;
	position: fixed;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.logo {
	height: 70%;
	width: auto;
	float: left;
	margin: 14px;
}

.logo:hover {
	cursor: pointer;
}

.nav-tab {
	color: white;
	outline: none;
	border: none;
	background-color: #006633;
	height: 100%;
	width: 180px;
	font-size: 28px;
	float: left;
	transition-duration: 0.2s;
}

.nav-tab:hover {
	background-color: #00562b;
	cursor: pointer;
	transition-duration: 0.2s;
}
