.assetbreakdowntable-container {
	position: absolute;
	height: 200px;
	width: 90%;
	top: 300px;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: white;
	box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.7);
	margin-bottom: 128px;
}
.listing3
{
	font-size: 18px;
	font-family: 'Montserrat';
	width: 33%;
	text-align: center;
}

.header3
{
	font-size: 36px;
	font-family: "DecourW00-Black";
	width: 33%;
	text-align: center;
}

.subheader
{
	font-size: 48px;
	font-family: "DecourW00-Black";
	text-align: center;
	margin-top: 100px;
}