html, body {
	background-color: #e1e1e1;
	height: 6000px
	margin: 0;
	padding: 0;
}

.full-page-splash {
	position: absolute;
	top: 96px;
	height: calc(100vh - 96px);
	width: 100vw;
	background: url("/res/AdobeStock_81689172.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.dream-title {
	position: absolute;
	top: 64px;
	font-size: 320px;
	width: 100vw;
	text-align: center;
	text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	font-family: "DecourW00-Black";
	color: white;
}

.dream-subtitle {
   position: absolute;
   left: 9%;
   font-size: 42px;
   font-family: 'Montserrat';
   top: 395px;
   color: white;
   text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.dream {
	position: absolute;
	top: 695px;
	left: 10%;
	height: 65px;
	width: 700px;
	background: transparent;
	outline: none;
	border: 3px solid transparent;
	color: white;
	padding: 0 8px;
	border-bottom: 3px solid white;
	font-size: 36px;
	font-family: "Montserrat";
}

::-webkit-input-placeholder {
   color: #b2b2b2;
}

:-moz-placeholder {
   color: #b2b2b2;
}

::-moz-placeholder {
   color: #b2b2b2;
}

:-ms-input-placeholder {
   color: #b2b2b2;
}

.chevron {
	position: absolute;
	bottom: 18px;
	height: 24px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
}

@keyframes bounce {
	0% { bottom: 18px }
	40% { bottom: 32px }
	100% { bottom: 18px }
}

.chevron:hover {
	animation: bounce 0.35s;
}

.get-there {
	position: absolute;
	top: 100vh;
	height: 400px;
	width: 100vw;
	font-size: 48px;
	font-family: "Montserrat";
	display: flex;
	justify-content: center;
	align-items: center;
}

.rule {
	position: absolute;
	height: 2px;
	width: 100px;
	top: 1350px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	background-color: #063;
}

.pricing {
	position: absolute;
	top: 1500px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	font-size: 24px;
	font-family: "Montserrat";
}

.pricing input[type=number] {
	font-size: 24px;
	font-family: "Montserrat";
	background-color: #c5c5c5;
}

.dream-savings-title {
	position: absolute;
	top: 1600px;
	left: 15%;
	font-size: 32px;
    font-family: 'Montserrat';
}

.dream-savings-num {
	font-size: 32px;
	font-family: 'Montserrat';
}

.dream-savings {
	position: absolute;
	top: 1675px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
}

input[type=range] {
 -webkit-appearance: none;
 background: transparent;
 width: 80%;
 margin: 8px 0;
}
input[type=range]:focus {
 outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height: 4px;
 cursor: pointer;
 border-radius: 25px;
 border: 2px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
 border: 3px solid #000000;
 height: 20px;
 width: 41px;
 border-radius: 10px;
 background: #ffffff;
 cursor: pointer;
 -webkit-appearance: none;
 margin-top: -10px;
}
input[type=range]::-moz-range-track {
 width: 100%;
 height: 4px;
 cursor: pointer;
 background: rgba(0, 0, 0, 0);
 border-radius: 25px;
 border: 2px solid #000000;
}
input[type=range]::-moz-range-thumb {
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
 border: 3.1px solid #000000;
 height: 20px;
 width: 41px;
 border-radius: 10px;
 background: #ffffff;
 cursor: pointer;
}
input[type=range]::-ms-track {
 width: 100%;
 height: 4px;
 cursor: pointer;
 background: transparent;
 border-color: transparent;
 color: transparent;
}
input[type=range]::-ms-fill-lower {
 background: rgba(0, 0, 0, 0);
 border: 2px solid #000000;
 border-radius: 50px;
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
 background: rgba(0, 0, 0, 0);
 border: 2px solid #000000;
 border-radius: 50px;
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
 border: 3.1px solid #000000;
 height: 20px;
 width: 41px;
 border-radius: 10px;
 background: #ffffff;
 cursor: pointer;
 height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
 background: rgba(0, 0, 0, 0);
}
input[type=range]:focus::-ms-fill-upper {
 background: rgba(128, 128, 128, 0);
}

.savings-chart-container {
   position: absolute;
   top: 1750px;
   height: 550px;
   width: 75%;
   left: 50%;
   margin-right: -50%;
   transform: translateX(-50%);
   background-color: white;
   box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
   margin-bottom: 128px;
}

.savings-chart {
	position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
 		   transform: translate(-50%, -50%);
}

.feedback {
	position: absolute;
	top: 2400px;
	width: 80%;
	min-height: 24px;
	background-color: white;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	margin-bottom: 128px;
}
