body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.investment-title {
	text-align: center;
	position: absolute;
	top: 108px;
	font-size: 96px;
	left: 50%;
	margin-right: -50%;
	font-family: "DecourW00-Black";
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.finances, .roi-plot {
	box-sizing: border-box;
	position: absolute;
	height: 400px;
	width: 350px;
	top: 275px;
	background-color: white;
	padding: 8px;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
}

.finances {
	left: 7%;
}

.roi-plot {
	right: 7%;
}

.charts_container_invest {
	position: absolute;
	height: 400px;
	width: 35%;
	top: 275px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	background-color: white;
	box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.5);
}

.belt {
	height: 150px;
	width: 95%;
	background-color: #063;
	z-index: -1;
	border-radius: 16px;
	position: absolute;
	top: 425px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.explanation, .contact {
	font-family: 'Montserrat';
	position: absolute;
	width: 60%;
	text-align: center;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
}

.explanation {
	top: 700px;
}

.contact {
	top: 860px;
	font-family: "DecourW00-Black";
	font-size: 28px;
}

.contact:hover {
	cursor: pointer;
}

.chart-invest {
	width: 300px;
	height: 500px;
}

.mobile.icon {
	top: 835px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	position: absolute;
	margin-left: 4px;
	margin-top: 0px;
	width: 21px;
	height: 36px;
	border-radius: 6px;
	border: solid 3px #063;
}

.mobile.icon:before {
	content: '';
	position: absolute;
	left: 7.5px;
	top: 2px;
	width: 5px;
	height: 2px;
	background-color: #063;
}

.mobile.icon:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 8.5px;
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background-color: #063;
}

.mobile.icon:hover {
	cursor: pointer;
}